name: contexts

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Experimenting
        run: |
          echo "$EVENT_NAME"
          echo "HEAD_REF: $HEAD_REF"
          echo "BASE_REF: $BASE_REF"
          echo "REPO: $REPO"
        env:
          EVENT_NAME: ${{ github.event_name }}
          HEAD_REF: ${{ github.head_ref || 'not available' }}
          BASE_REF: ${{ github.base_ref || 'not available' }}
          REPO: ${{ github.repository || 'not available' }}
  
  deploy:
    needs: build
    if: ${{ github.triggering_actor == 'tamtanns' }}
    runs-on: ubuntu-latest
    steps:
      - name: Did the previous job succeed?
        run: |
          echo "Result: ${{ needs.build.result }}"
    
